<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>C2 App (alry23)</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/blueeye.png') }}">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li {%- if request.path=="/" %} class="active" {% endif %}><a href="{{ url_for('routes.main') }}"><img
                        src="{{ url_for('static', filename='images/blueeye.png') }}" width="40" alt="blue eye"></a></li>

            {%- if current_user.is_authenticated %}
            <li {%- if request.path=="/devices" %} class="active" {% endif %}><a
                    href="{{ url_for('routes.devices') }}">Devices</a></li>
            <li {%- if request.path=="/logs" %} class="active" {% endif %}><a href="{{ url_for('routes.view_logs') }}">Server Logs</a></li>
            <li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
            {%- else %}
            <li {%- if request.path=="/login" %} class="active" {% endif %}><a
                    href="{{ url_for('routes.login') }}">Login</a></li>
            {%- endif %}
        </ul>
    </nav>